<div class="container-fluid">
    <div class="">
        <div class="row justify-content-center">
            <div class="col mb-2">
                <a class="btn btn-light" href="/">
                    <img src="./img/iconfinder_36-404_error_4620096.svg" alt="Error 404">
                </a>
            </div>
            <div class="col mb-2">
                <h1 class="">
                    Error 404 not found
                </h1>
            </div>
        </div>
    </div>
</div>