<% include _layouts/_header %>

<div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-at"></i> Acerca de mi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-plus"></i> Experiencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cogs"></i> Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="far fa-comment-dots"></i> Contactame</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <a class="form-control mr-sm-2 text-dark" href="/en">
              Go back!
        </a>
    </form>
</div>
</nav>
<div class="jumbotron d-flex align-items-center justify-content-center bg-light">
    <div class="mt-5 justify-content-center">
        <img src="./img/error-404-page-not-found-vector-14463998.jpg" class="rounded mx-auto d-block" alt="Error 404">
        <h1 class="display-3 text-center">Error 404 not found</h1>
        <hr>
        <p class="text-dark">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perferendis, rem numquam omnis asperiores ipsum debitis!
            Minima accusamus harum ducimus quibusdam in quas itaque,
            et recusandae cum error non mollitia ab.
        </p>
        <p class="lead">
            <a class="btn btn-dark btn-lg" href="/" role="button">Go back!</a>
        </p>
    </div>
</div>