<% include _layouts/_header %>

<div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-light" href="#aboutme"><i class="fas fa-at"></i> About me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#experience"><i class="fas fa-plus"></i> Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cogs"></i> Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="far fa-comment-dots"></i> Contact me</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <a class="form-control mr-sm-2 text-dark" href="/">
            Go back!
        </a>
    </form>
</div>
</nav>
<div class="jumbotron d-flex align-items-center justify-content-center bg-light">
    <div class="mt-5 justify-content-center">
        <div class="card">
            <img src="./img/404notfound.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center"> <b>ERROR 404! PAGE NOT FOUND</b></h4>
                <p class="card-text text-center"> Page not found, please go back into Giova information's, thanks!</p>
                <a class="btn btn-dark" href="/" role="button">Go back!</a>
            </div>
        </div>
    </div>
    </div>