<% include _layouts/_header %>

<div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-light" href="#aboutme"><i class="fas fa-at"></i> About me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#experience"><i class="fas fa-plus"></i> Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cogs"></i> Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="far fa-comment-dots"></i> Contact me</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <a class="form-control mr-sm-2 text-dark" href="/">
            <img src="./img/iconfinder_Untitled-2-05_3253482.svg" alt="Translate"> Spanish
        </a>
    </form>
</div>
</nav>
<div class="jumbotron mt-5" id="aboutme">
    <div class="card mt-auto bg-light">
        <div class="content mt-2 bg-dark">
            <h1 class="text-center text-light font-italic">About me</h1>
            <hr>
        </div>
        <div class="card-body">
            <div class="row mt-auto">
                <div class="col-sm-2">
                    <div class="card-img text-center">
                        <img src="./img/GIOVANNI-IMAGE_PROFILE.png" alt="Image Giovanni" class="">
                        <hr>
                        <h3 class="text-center text-dark"><b>Hi, i'm Giovanni Gómez</b></h3>
                        <hr>
                    </div>
                </div>
                <div class="col-sm-4 text-dark">
                    <ul class="text-dark">
                        <div class="content text-center">
                            <h1 class="card-title text-center">Basic information</h1>
                        </div>
                        <hr>
                        <ol class="lead"> <i class="fas fa-user-graduate"></i><b> Major: </b> Systems Engineer
                        </ol>
                        <ol class="lead"> <i class="fas fa-flag"></i><b> Country: </b> Colombia </ol>
                        <ol class="lead"> <i class="fas fa-building"></i><b> City: </b> Medellin <br> </ol>
                        <ol class="lead"> <i class="fas fa-phone"></i> <b> Phone: </b> (+57) 314 7392212 </ol>
                        <ol class="lead"> <i class="fas fa-envelope"></i> <b> Email: </b> giovannyg32@gmail.com</ol>
                        <ol>
                            <div class="row mt-4 text-center">
                                <div class="col-sm-2 text-center">
                                    <a target="blank"
                                        href="https://www.linkedin.com/in/giovanni-g%C3%B3mez-restrepo-485513ab/"
                                        class="rounded-circle btn btn-outline-info">
                                        <i class="fab fa-linkedin-in"></i></a></div>

                                <div class="col-sm-2 text-center">
                                    <a target="blank" href="https://www.facebook.com/Giovanny.Gomez.R"
                                        class="rounded-circle btn btn-outline-info">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a target="blank" href="https://github.com/giovagr20"
                                        class="rounded-circle btn btn-outline-dark">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </ol>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="content text-center">
                        <h1 class="card-title text-center text-dark">Skills</h1>
                        <hr>
                    </div>
                    <div class="progress mt-2" style="height: auto;">
                        <a target="blank" href="https://nodejs.org/en/" class="btn btn-dark">
                            <img src="./img/iconfinder_233_Node_Js_logo_4375017.svg"
                                class="img-fluid max-width: 100%; height: auto" alt="NodeJS">
                        </a>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                            style="width: 60%">
                        </div>
                    </div>
                    <div class="progress mt-2" style="height: auto;">
                        <a href="https://angular.io/start" target="blank" class="btn btn-dark">
                            <img src="./img/iconfinder_21_Angular_logo_logos_4373284.svg"
                                class="img-fluid max-width: 100%; height: auto" alt="Angular">
                        </a>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                            role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                            style="width: 47%">
                        </div>

                    </div>
                    <div class="progress mt-2" style="height: auto;">
                        <a class="btn btn-dark" href="https://www.mysql.com/" target="blank">
                            <img src="./img/iconfinder_mysql_1322469.svg" alt="MySQL"
                                class="img-fluid max-width: 100%; height: auto">
                        </a>
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 81%">
                        </div>

                    </div>
                    <div class="progress mt-2" style="height: auto;">
                        <a class="btn btn-dark" href="https://dotnet.microsoft.com/apps/aspnet/web-apps" target="blank">
                            <img src="./img/iconfinder_ASP.Net_682703.svg" alt="DotNet"
                                class="img-fluid max-width: 100%; height: auto">
                        </a>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        </div>

                    </div>
                    <div class="progress mt-2" style="height: auto;">
                        <a class="btn btn-dark" href="https://dotnet.microsoft.com/apps/aspnet/web-apps" target="blank">
                            <img src="./img/iconfinder_api-code-window_532742.svg" alt="API"
                                class="img-fluid max-width: 100%; height: auto">
                        </a>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                            role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                            style="width: 51%">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" id="experience">
    <div class="card mt-auto bg-light">
        <div class="content mt-2 bg-dark">
            <h1 class="text-center text-light font-italic">Experience</h1>
            <hr>
        </div>
        <div class="card-body">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores recusandae commodi eligendi! Officiis commodi dolor quaerat, minima esse natus aspernatur possimus unde numquam nulla dicta libero aperiam saepe exercitationem.
            </p>
        </div>
    </div>
</div>
</div>