<% include _layouts/_header %>
<div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-at"></i> Acerca de mi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-plus"></i> Experiencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cogs"></i> Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="far fa-comment-dots"></i> Contactame</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <a class="form-control mr-sm-2 text-dark" href="/en">
            <img src="./img/iconfinder_england_5320698.svg" alt="Translate"> Inglés
        </a>
    </form>
</div>
</nav>
