<% include _layouts/_header %>
<div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-light" href="#"><i class="fas fa-at"></i> About me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-plus"></i> Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-cogs"></i> Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="far fa-comment-dots"></i> Contact me</a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <a class="form-control mr-sm-2 text-light" href="/">
            <img src="./img/iconfinder_Untitled-2-05_3253482.svg" alt="Translate"> Spanish
        </a>
    </form>

</div>
</nav>