<% include _layouts/_header %>

<ul class="nav nav-pills mx-auto">
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="true">
            <i class="fas fa-ellipsis-v"></i> Menu</a>
        <div class="dropdown-menu"
            style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#aboutme"><i class="fas fa-at"></i> Acerca de mi</a>
            <a class="dropdown-item" href="#experience"><i class="fas fa-plus"></i> Experiencia</a>
            <a class="dropdown-item" href="#"><i class="far fa-comment-dots"></i> Contacto</a>
            <a class="dropdown-item" href="/en"><i class="fas fa-language"></i> Traducir: Inglés</a>
</ul>

</nav>
<!--background-image: url(https://i.ibb.co/Vv516xz/CodeIcon.jpg);-->
<section class="jumbotron mt-2 border-light" id="basicinfo">
    <h1 class="mx-auto d-block" style="text-align: center;">
        <i class="fas fa-user-circle"></i><b> Acerca de mi </b></h1>
    <div class="card mx-auto d-block mb-3" style="max-width:auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./img/GIOVANNI-IMAGE_PROFILE.png" alt="GIOVANNI-IMAGE" class="card-img">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="card-title" style="color: #0078ff; text-align: left;">
                                <b> Hola, soy Giovanni Gomez Restrepo</b>
                            </h1>
                            <hr>
                            <ul class="card-text" style="text-align: left;">
                                <li class="lead"> <i class="fas fa-plus"></i> <b> Edad: </b>23 </li>
                                <li class="lead"> <i class="fas fa-user-graduate"></i><b> Profesión: </b> Ingeniero en
                                    sistemas
                                </li>
                                <li class="lead"> <i class="fas fa-flag"></i><b> País: </b> Colombia </li>
                                <li class="lead"> <i class="fas fa-building"></i><b> Ciudad: </b> Medellin <br> </li>
                                <li class="lead"> <i class="fas fa-phone"></i> <b> Celular: </b> (+57) 314 7392212 </li>
                                <li class="lead"> <i class="fas fa-envelope"></i> <b> Correo: </b> giovannyg32@gmail.com
                                </li>
                            </ul>
                            <div class="row ml-4">
                                <div class="col-md-2">
                                    <a target="blank" href="https://www.linkedin.com/in/giovanni-g%C3%B3mez-restrepo-485513ab/" 
                                    class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-linkedin-in"></i></a></div>

                                <div class="col-md-2">
                                    <a target="blank" href="https://www.facebook.com/Giovanny.Gomez.R" 
                                    class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-facebook"></i>
                                    </a></div>
                                <div class="col-md-2">
                                    <a target="blank" href="https://github.com/giovagr20" 
                                    class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="card-title" style="color: #0078ff; text-align: left;">
                                <b> Mis habilidades</b></h1>
                                
                            <hr>

                            <div class="progress" style="height: auto;">
                                    <a target="blank" href="https://nodejs.org/en/" class="btn btn-light">
                                    <img src="./img/iconfinder_233_Node_Js_logo_4375017.svg"
                                        class="img-fluid max-width: 100%; height: auto" alt="NodeJS">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 60%">
                                </div>
                            </div>
                            <div class="progress" style="height: auto;">
                                    <a href="https://angular.io/start" target="blank" class="btn btn-light">
                                    <img src="./img/iconfinder_21_Angular_logo_logos_4373284.svg"
                                        class="img-fluid max-width: 100%; height: auto" alt="Angular">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 47%">
                                </div>

                            </div>
                            <div class="progress" style="height: auto;">
                                    <a class="btn btn-light" href="https://www.mysql.com/" target="blank">
                                    <img src="./img/iconfinder_mysql_1322469.svg" alt="MySQL"
                                     class="img-fluid max-width: 100%; height: auto">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 81%">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mx-auto d-block">
                <div class="card-body">
                    <label class="lead">
                        Soy alguien responsable, bastante dinámico, con deseos de superación y mis metas están
                        basadas
                        en el logro de objetivos claros, con capacidad de trabajar en equipo y direccionar el
                        personal
                        a cargo, con habilidad y manejos de lenguajes de programación

                        Dispuesto a cumplir con las distintas funciones, obligaciones y normas laborales
                        que tengan establecidas, me presento con gran entusiasmo a su empresa para formar parte del
                        cumplimiento de metas planteadas en su misión.
                    </label>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="section-experience" class="jumbotron mt-2 section-experience">
        <h1 class="mx-auto d-block" style="text-align: center;"><i class="fas fa-plus"></i><b> Experiencia</b></h1>
        <hr>
    <div class="card-body mx-auto d-block">
        <div class="row row-sm">
            <div class="col-sm-3">
                <h2> <b> Company</b></h2>
            </div>
            <div class="col-sm-3">
                <h2><b> Ocupation</b></h2>
            </div>
            <div class="col sm-3">
                <h2><b>Years</b></h2>
            </div>
            <div class="col-sm-3">
                <h2><b>Technologies</b></h2>
            </div>
        </div>
    </div>
</section>