<% include _layouts/_header %>

<ul class="nav nav-pills mx-auto">
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="true">
            <i class="fas fa-ellipsis-v"></i> Menu</a>
        <div class="dropdown-menu"
            style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#basicinfo"><i class="fas fa-image"></i> Profile</a>
            <a class="dropdown-item" href="#aboutme"><i class="fas fa-at"></i> About me</a>
            <a class="dropdown-item" href="#experience"><i class="fas fa-plus"></i> Experience</a>
            <a class="dropdown-item" href="#"><i class="far fa-comment-dots"></i> Contact</a>
</ul>
</nav>
<section id="basicinfo" class="jumbotron mt-2" style="border-color: #f5f5ff;">
    <h1 class="mx-auto d-block" style="text-align: center;">
        <i class="fas fa-user-circle"></i> <b>About me</b></h1>
    <div class="card mx-auto d-block mb-3" style="max-width:auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.ibb.co/hRF3jvt/GIOVANNI-IMAGE.png" alt="GIOVANNI-IMAGE" class="card-img">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="card-title" style="color: #0078ff; text-align: left;">
                                <b> Hi, i'm Giovanni Gomez Restrepo</b>
                            </h1>
                            <hr>
                            <ul class="card-text" style="text-align: left;">
                                <li class="lead"> <i class="fas fa-plus"></i> <b> Age: </b>23 </li>
                                <li class="lead"> <i class="fas fa-user-graduate"></i><b> Major: </b> Systems Engineer
                                </li>
                                <li class="lead"> <i class="fas fa-flag"></i><b> Country: </b> Colombia </li>
                                <li class="lead"> <i class="fas fa-building"></i><b> City: </b> Medellin <br> </li>
                                <li class="lead"> <i class="fas fa-phone"></i> <b> Phone: </b> (+57) 314 7392212 </li>
                                <li class="lead"> <i class="fas fa-envelope"></i> <b> Email: </b> giovannyg32@gmail.com
                                </li>
                            </ul>
                            <div class="row ml-4">
                                <div class="col-md-2">
                                        <a href="https://www.linkedin.com/in/giovanni-g%C3%B3mez-restrepo-485513ab/"
                                        class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-linkedin-in"></i></a></div>
                                       
                                <div class="col-md-2">
                                    <a href="https://www.facebook.com/Giovanny.Gomez.R" 
                                    class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-facebook"></i>
                                    </a></div>
                                <div class="col-md-2">
                                    <a href="https://github.com/giovagr20"
                                     class="rounded-circle btn btn-outline-primary">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="card-title" style="color: #0078ff; text-align: left;">
                                <b> My skills</b></h1>
                                
                            <hr>
                            <div class="progress" style="height: auto;">
                                <a href="#" class="btn btn-light">
                                    <img src="./img/iconfinder_233_Node_Js_logo_4375017.svg"
                                        class="img-fluid max-width: 100%; height: auto" alt="NodeJS">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 60%">
                                </div>
                            </div>
                            <div class="progress" style="height: auto;">
                                <a href="#" class="btn btn-light">
                                    <img src="./img/iconfinder_21_Angular_logo_logos_4373284.svg"
                                        class="img-fluid max-width: 100%; height: auto" alt="Angular">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                    role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 47%">
                                </div>

                            </div>
                            <div class="progress" style="height: auto;">
                                <a class="btn btn-light">
                                    <img src="./img/iconfinder_mysql_1322469.svg" alt="MySQL"
                                        class="img-fluid max-width: 100%; height: auto">
                                </a>
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 81%">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mx-auto d-block">
                <div class="card-body">
                    <label class="lead">
                        Soy alguien responsable, bastante dinámico, con deseos de superación y mis metas están
                        basadas
                        en el logro de objetivos claros, con capacidad de trabajar en equipo y direccionar el
                        personal
                        a cargo, con habilidad y manejos de lenguajes de programación

                        Dispuesto a cumplir con las distintas funciones, obligaciones y normas laborales
                        que tengan establecidas, me presento con gran entusiasmo a su empresa para formar parte del
                        cumplimiento de metas planteadas en su misión.
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron mt-2" style="border-color: #f5f5ff; background-color: #0078ff;">
        <h1 class="mx-auto d-block" style="text-align: center;"><i class="fas fa-plus"></i><b> Experiencia</b></h1>
    <div class="card-body mx-auto d-block">
        <table id="experience" class="table table-bordered mt-2 border-dark">
            <thead class="table-danger">
                <tr>
                    <th scope="col" class="lead"><b> Compañia</b></th>
                    <th scope="col" class="lead"><b> Cargo</b></th>
                    <th scope="col" class="lead"><b> Años</b></th>
                    <th scope="col" class="lead"><b> Tecnologías</b></th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr>
                    <th scope="row" class="lead"> EPS Sura</td>
                    <th scope="row" class="lead"> Analista de desarrollo</td>
                    <th scope="row" class="lead"> 2 +</td>
                    <th scope="row" class="lead"> Imagenes de las technologias</td>
                </tr>
                <tr>
                    <th scope="row" class="lead"> Sophos Solutions</td>
                    <th scope="row" class="lead"> Testing Analyst</td>
                    <th scope="row" class="lead"> 1+</td>
                    <th scope="row" class="lead"> Imagenes de las technologias</td>
                </tr>
            </tbody>
        </table>
</div>
</section>