<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="shortcut icon" href="./img/iconfinder_228_Netko_logo_4375370.png">
</head>
<body>
    <script>
        alert('Data Saved')
    </script>
</body>
</html>