<% include _layouts/_header %>

<div class="container mx-auto d-block">
<div class="card">
        <ul class="nav nav-pills mx-auto d-block">
                <li class="nav-item dropdown show">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-language"></i> 
                   Language</a>
                  <div class="dropdown-menu show" x-placement="bottom-start" 
                  style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="/es"> Español</a>                  
                    <a class="dropdown-item" href="/en"> English</a>
              </ul>
            </div>
</div>

<% include _layouts/_footer %>