<% include _layouts/_header %>
<ul class="nav nav-pills mx-auto">
    <li class="nav-item dropdown show">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fas fa-language"></i> 
       Language</a>
      <div class="dropdown-menu" 
      style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" href="/es"> Español</a>                  
        <a class="dropdown-item" href="/en"> English</a>
  </ul>
</div>


